body {
    background-color: #F5F5F5;
}

.flexdiv {
    display: flex;
    display: -webkit-flex;
	flex-direction: row;
    -webkit-flex-direction: row;
	flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
	justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.card {
    width: 25%;
}

.card-footer {
    color: gray;
    font-size: 60px;
}